<div class="container">
  <div ng-include="'app/components/header/header.html'"></div>
  <div ng-include="'app/components/searchbar/searchbar.html'"></div>
  <hr>
  <div class="row" infinite-scroll="getNextPageSelfiePhotoUrl()" infinite-scroll-distance="0">
    <div class="col-sm-6 col-md-4" ng-repeat="photoUrl in photoUrlArr">
      <div class="thumbnail">
        <a href="{{photoUrl}}"><img  ng-src="{{photoUrl}}" ></a>
      </div>
    </div>
  </div>
  <div ng-include="'app/components/footer/footer.html'"></div>
</div>
