<div class="container">
  <div ng-include="'app/components/header/header.html'"></div>
  <div ng-include="'app/components/searchbar/searchbar.html'"></div>
  <hr>
  <div class="row" infinite-scroll="vm.getNextPagePhotoUrlByTag()" infinite-scroll-distance="0">
    <div class="col-sm-6 col-md-4" ng-repeat="photo in vm.photoArr" ng-if="vm.withResult">
      <a href="{{photoUrl}}">
        <div class="thumbnail" style="background-image: url({{photo.url}})">
          <div class="photo_title"><h4>{{photo.title}}</h4></div>
        </div>
      </a>
    </div>
    <div class="col-sm-12">
      <h3 class="text-center text-danger" ng-if="!vm.withResult">{{vm.message}}</h3>
    </div>
  </div>
  <div ng-include="'app/components/footer/footer.html'"></div>
</div>
